.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.link {
  color: hsl(210, 100%, 66%);
}

.link:hover {
  color: hsl(210, 100%, 56%);
}

.link:active {
  color: hsl(210, 100%, 76%);
}
